/* Navbar.module.css */

.navbarContainer {
    display: flex;
    justify-content: space-between; /* Aligns items with space between them */
    padding: 10px; /* Add some padding for better spacing */
    background-color: RGB(1, 10, 12); /* Example background color for the navbar */
  }
  
  .linksContainer {
    display: flex;
    gap: 20px; /* Adjust the gap between links as needed */
  }
  
  .linksContainer a {
    text-decoration: none;
    color: white; /* Set the color of the links */
  }
  
  .linksContainer a:hover {
    color: #ffcc00; /* Change color on hover */
  }
  